@model EmprestimoModel

@{
    ViewData["Title"] = "Excluir empréstimo";
}

<div class="container p-5 rounded-5">

    <div class="mb-5 text-center">
        <h1>Excluir Empréstimo</h1>
    </div>

    @if (!string.IsNullOrEmpty((string?)TempData["MensagemSucesso"]))
    {
        <div class="alert alert-dismissible alert-success" role="alert">
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (!string.IsNullOrEmpty((string?)TempData["MensagemFalha"]))
    {
        <div class="alert alert-dismissible alert-danger" role="alert">
            @TempData["MensagemFalha"]
        </div>
    }

    <form method="post" asp-controller="Emprestimo" asp-action="Excluir">
        <input type="hidden" asp-for="Id" />

        <h2>Tem certeza que deseja excluir o registro abaixo?</h2>

        <div class="mb-3">
            <label for="Recebedor" class="form-label fw-bold">Recebedor:</label>
            <input type="text" class="form-control" asp-for="Recebedor" id="Recebedor" placeholder="Quem está recebendo o livro?" disabled>
        </div>

        <div class="mb-3">
            <label for="Fornecedor" class="form-label fw-bold">Fornecedor:</label>
            <input type="text" class="form-control" asp-for="Fornecedor" id="Fornecedor" placeholder="Quem está emprestando o livro?" disabled>
        </div>

        <div class="mb-3">
            <label for="LivroEmprestado" class="form-label fw-bold">Livro:</label>
            <input type="text" class="form-control" asp-for="LivroEmprestado" id="LivroEmprestado" placeholder="Qual é o livro que está sendo emprestado?" disabled>
        </div>

        <div class="d-flex gap-5 mt-5">
            <button type="submit" class="btn btn-danger w-50">Excluir</button>
            <a class="btn btn-primary w-50" asp-controller="Emprestimo" asp-action="Index">
                Voltar
            </a>
        </div>
    </form>

</div>
