@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empréstimo Online</h1>
    
    <p>Encontre histórias incríveis. Alugue, leia e devolva com facilidade.</p>
    
    <div>
        <img src="/img/home.png"/>
    </div>
</div>
